extends layouts/_layout.pug

block variables
	- var activePage = 'basic-table'
	- var activeGroup = 'tables'

block title
	title #{title} | Blog about nothing and everything

block content
	.app-title
		div
			h1
				i.fa.fa-th-list
				|  Users list
			p Users registered on the website

	.row
		.col-md-12
			.tile
				.table-responsive
					table.table
						thead
							tr
								th #
								th First Name
								th Last Name
								th Username
						tbody
							tr
								td 1
								td Mark
								td Otto
								td @mdo
							tr
								td 2
								td Jacob
								td Thornton
								td @fat
							tr
								td 3
								td Larry
								td the Bird
								td @twitter
							tr
								td 4
								td Jacob
								td Thornton
								td @fat

