extends layout

block content 
  .container
    .row.flex-lg-nowrap
      .col-12.col-lg-auto.mb-3(style='width: 200px;')
        .card.p-3
          .e-navlist.e-navlist--active-bg
            ul.nav
              li.nav-item
                a.nav-link.px-2.active(href='#')
                  i.fa.fa-fw.fa-bar-chart.mr-1
                  span Overview
              li.nav-item
                a.nav-link.px-2(href='https://www.bootdey.com/snippets/view/bs4-crud-users', target='__blank')
                  i.fa.fa-fw.fa-th.mr-1
                  span CRUD
              li.nav-item
                a.nav-link.px-2(href='https://www.bootdey.com/snippets/view/bs4-edit-profile-page', target='__blank')
                  i.fa.fa-fw.fa-cog.mr-1
                  span Settings
      .col
        .row
          .col.mb-3
            .card
              .card-body
                .e-profile
                  .row
                    .col-12.col-sm-auto.mb-3
                      .mx-auto(style='width: 140px;')
                        .d-flex.justify-content-center.align-items-center.rounded(style='height: 140px; background-color: rgb(233, 236, 239);')
                          span(style='color: rgb(166, 168, 170); font: bold 8pt Arial;') 140x140
                    .col.d-flex.flex-column.flex-sm-row.justify-content-between.mb-3
                      .text-center.text-sm-left.mb-2.mb-sm-0
                        h4.pt-sm-2.pb-1.mb-0.text-nowrap= user.name
                        p.mb-0 @johnny.s
                        .text-muted
                          small Last seen 2 hours ago
                        .mt-2
                          form(method='POST' enctype='multipart/form-data' action='/users/upload/' + user.username)
                            label.btn.btn-primary(type='button')
                              i.fa.fa-fw.fa-camera
                              span Change Photo
                                input(type='file', name='avatar', style='display: none;')
                            button.btn.btn-primary(type='button')
                              i.fa.fa-fw.fa-check
                                input(type='submit')
                                //- input(type='submit', name='uploadimage', value='Upload Image')
                          //- button.btn.btn-primary(type='button')
                          //-   i.fa.fa-fw.fa-camera
                          //-   span Change Photo
                      .text-center.text-sm-right
                        span.badge.badge-secondary= user.role
                        .text-muted
                          small= 'Joined' + ' ' + user.date.toLocaleDateString()
                  ul.nav.nav-tabs
                    li.nav-item
                      a.active.nav-link(href='') Settings
                  .tab-content.pt-3
                    .tab-pane.active
                      form.form(novalidate='')
                        .row
                          .col
                            .row
                              .col
                                .form-group
                                  label Full Name
                                  input.form-control(type='text', name='name', placeholder='John Smith', value= user.name)
                              .col
                                .form-group
                                  label Username
                                  input.form-control(type='text', name='username', placeholder='johnny.s', value= user.username)
                            .row
                              .col
                                .form-group
                                  label Email
                                  input.form-control(type='text', placeholder='user@example.com', value= user.email)
                            .row
                              .col.mb-3
                                .form-group
                                  label About
                                  textarea.form-control(rows='5', placeholder='My Bio', value= user.about)
                            .row
                              .col
                                .form-group
                                  label WebSite
                                  input.form-control(type='text', name='name', placeholder='John Smith', value= user.website)
                              .col
                                .form-group
                                  label Github
                                  input.form-control(type='text', name='username', placeholder='johnny.s', value= user.github)
                            .row
                              .col
                                .form-group
                                  label Facebook
                                  input.form-control(type='text', name='name', placeholder='John Smith', value= user.facebook)
                              .col
                                .form-group
                                  label Instagram
                                  input.form-control(type='text', name='username', placeholder='johnny.s', value= user.instagram)
                            .row
                              .col
                                .form-group
                                  label Reddit
                                  input.form-control(type='text', name='name', placeholder='John Smith', value= user.reddit)
                              .col
                                .form-group
                                  label Twitter
                                  input.form-control(type='text', name='username', placeholder='johnny.s', value= user.twitter)
                        .row
                          .col-12.col-sm-6.mb-3
                            .mb-2
                              b Change Password
                            .row
                              .col
                                .form-group
                                  label Current Password
                                  input.form-control(type='password', placeholder='••••••')
                            .row
                              .col
                                .form-group
                                  label New Password
                                  input.form-control(type='password', placeholder='••••••')
                            .row
                              .col
                                .form-group
                                  label
                                    | Confirm
                                    span.d-none.d-xl-inline Password
                                  input.form-control(type='password', placeholder='••••••')
                          .col-12.col-sm-5.offset-sm-1.mb-3
                            .mb-2
                              b Keeping in Touch
                            .row
                              .col
                                label Email Notifications
                                .custom-controls-stacked.px-2
                                  .custom-control.custom-checkbox
                                    input#notifications-blog.custom-control-input(type='checkbox', checked='')
                                    label.custom-control-label(for='notifications-blog') Blog posts
                                  .custom-control.custom-checkbox
                                    input#notifications-news.custom-control-input(type='checkbox', checked='')
                                    label.custom-control-label(for='notifications-news') Newsletter
                                  .custom-control.custom-checkbox
                                    input#notifications-offers.custom-control-input(type='checkbox', checked='')
                                    label.custom-control-label(for='notifications-offers') Personal Offers
                        .row
                          .col.d-flex.justify-content-end
                            button.btn.btn-primary(type='submit') Save Changes
          .col-12.col-md-3.mb-3
            .card.mb-3
              .card-body
                .px-xl-3
                  button.btn.btn-block.btn-secondary
                    i.fa.fa-sign-out
                    span Logout
            .card
              .card-body
                h6.card-title.font-weight-bold Support
                p.card-text Get fast, free help from our friendly assistants.
                button.btn.btn-primary(type='button') Contact Us