extends layout

block content
  include jumbotron
  main.conteiner(role='main')
    .row
      .col-md-4.news-block
        h3.pb-4.mb-4.font-italic.border-bottom
          | Newswire
        each news, i in newswire
          .blog-post
            #news-meta= news.created_on.toLocaleDateString()
            a(class='blog-post-title', href=`/news/${news.slug}`)= news.title
        if newsPerPage > 7
          a.btn.btn-outline-primary.rounded-pill(href='/news/newswire') All news
      .col-md-4.article-block
        h3.pb-4.mb-4.font-italic.border-bottom
          | Personal blog
        each article, i in articles
          .blog-post
            #article-meta= article.created_on.toLocaleDateString()
            a(class='blog-post-title', href=`/articles/${article.slug}`)= article.title
        if articlesPerPage > 7
          a.btn.btn-outline-primary.rounded-pill(href='/articles') All articles
      include sidebar