html
  head
  link(href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' rel='stylesheet')
  link(href='/dist/css/bootstrap.min.css' rel='stylesheet')
  link(href='/assets/styles/login.css' rel='stylesheet')
  script(src='/dist/jquery/jquery.slim.min.js')
  script(src='/dist/js/bootstrap.bundle.min.js')
  title Blog about nothing and everything | Login Page
  body
    .container
      include alert
      .row
        .col-sm-9.col-md-7.col-lg-5.mx-auto
          .card.card-signin.my-5
            .card-body
              h5.card-title.text-center Sign In
              form.form-signin(method='POST', action='/users/login')
                .form-label-group
                  input#inputUsername.form-control(name='username' type='text' placeholder='Username' required='' autofocus='')
                  label(for='inputUsername') Username
                .form-label-group
                  input#inputPassword.form-control(name='password' type='password' placeholder='Password' required='')
                  label(for='inputPassword') Password
                .custom-control.custom-checkbox.mb-3
                  input#customCheck1.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck1') Remember password
                button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit', value='Submit') Sign in
                hr.my-4
                button.btn.btn-lg.btn-google.btn-block.text-uppercase(type='submit')
                  i.fab.fa-google.mr-2
                  |  Sign in with Google
                button.btn.btn-lg.btn-facebook.btn-block.text-uppercase(type='submit')
                  i.fab.fa-facebook-f.mr-2
                  |  Sign in with Facebook