.col-1.d-flex.justify-content-end.align-items-center
  .dropdown
    if user
      button.btn.btn-outline-dark.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='false')= user.name
      .dropdown-menu.logged
        form.px-4.py-3
          .col.mt-2
            a.dropdown-item(href='/users/me') Profile
          .col.mt-2
            if user.role === 'admin'
              a.dropdown-item(href="/admin") Admin panel
          .dropdown-divider
          .col.mt-2
            a.dropdown-item(href="/users/logout") Log out
    else
      button.btn.btn-outline-dark.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='false')
        | Login
      .dropdown-menu
        form.px-4.py-3(method='POST', action='/users/signin')
          .form-group
            label(for='dropdownFormUsername') Username
            input#dropdownFormUsername.form-control(name='username' type='username' placeholder='Username')
          .form-group
            label(for='dropdownFormPassword') Password
            input#dropdownFormPassword.form-control(name='password' type='password' placeholder='Password')
          .form-group
            .form-check
              input#dropdownCheck.form-check-input(type='checkbox')
              label.form-check-label(for='dropdownCheck')
                | Remember me
          button.btn.btn-primary(type='submit') Sign in
          .dropdown-divider
          a.dropdown-item(href='/users/signup') New around here? Sign up
          a.dropdown-item(href='/users/password/forgot') Forgot password?