// Errors
if messages.error
  for error in messages.error
    .alert.alert-danger.alert-dismissible.fade.show(role='alert')
      div= error
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times;

// Warning
if messages.warning
  for warning in messages.warning
    .alert.alert-warning.alert-dismissible.fade.show(role='alert')
      div= warning
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times;

// Success
if messages.success
  .alert.alert-success.alert-dismissible.fade.show(role='alert')
    for success in messages.success
      div= success
    button.close(type='button', data-dismiss='alert', aria-label='Close')
      span(aria-hidden='true') &times;

// Info
if messages.info
  .alert.alert-info.alert-dismissible.fade.show(role='alert')
    for info in messages.info
      div= info.message
    button.close(type='button', data-dismiss='alert', aria-label='Close')
      span(aria-hidden='true') &times;