// Essential javascripts for application to work
script(src='/dist/jquery/jquery.min.js')
script(src='/dist/umd/popper.min.js')
script(src='/dist/js/bootstrap.min.js')
script(src='/assets/js/main.js')

// The javascript plugin to display page loading on top
script(src='/dist/pace-js/pace.min.js')
