block content  
    section.mb-5
        .card.bg-light
            .card-body
                form.mb-4(method='POST', action='/news/' + news._id + '/comments')
                    textarea.form-control(rows='3' name='commentText' type='comments' placeholder='Join the discussion and leave a comment!')
                    br
                    input.btn-small.btn-primary.float-right(type='submit', value='Send')
                    br
                // Comment with nested comments
                each comment, index_comment in news.comments
                    .d-flex.mb-4
                        .flex-shrink-0
                            img.rounded-circle(src= user.avatar)
                        .ms-3
                            .fw-bold #{comment.author.username}
                            p= comment.commentText
                                // Comments buttons
                                .inner
                                    p.parent-comment-reply
                                        a.reply-link(type='button', data-toggle='collapse', data-target= "#response_" + index_comment, aria-expanded='false', aria-controls='response')
                                            | Reply      
                                        .collapse(id= "response_" + index_comment)
                                            form.mb-4(method='POST' name='parentCommentId' action=`/news/${news._id}/comments`)
                                                textarea.form-control(rows='3' cols='150' name='commentText' type='reply' placeholder='Join the discussion and leave a comment!')
                                                input.btn-small.btn-primary.float-right(type='submit' value='Send')
                                //Edit button
                                .inner
                                    a.delete-btn(type='button' data-toggle='modal' data-target='#editComment')
                                        | Edit
                                    #editComment.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editComment', aria-hidden='true')
                                        .modal-dialog.modal-dialog-centered(role='document')
                                            .modal-content
                                                .modal-header
                                                    h5#exampleModalLongTitle.modal-title Edit comment
                                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                    span(aria-hidden='true') ×
                                                .modal-body
                                                    form.mb-4(method='POST' action='/news/comments/edit/' + comment._id)
                                                        textarea.form-control(name='commentText' rows='3' cols='150')= comment.commentText
                                                        input.btn-small.btn-primary.float-right(type='submit' value='Send')
                                                .modal-footer
                                                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                //Delete button
                                .inner
                                    a.delete-btn(type='button' data-toggle='modal' data-target='#deleteComment')
                                        | Delete
                                    #deleteComment.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deleteComment' aria-hidden='true')
                                        .modal-dialog.modal-dialog-centered(role='document')
                                            .modal-content
                                                .modal-header
                                                    h5#exampleModalLongTitle.modal-title Delete Comment
                                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                    span(aria-hidden='true') ×
                                                .modal-body
                                                    | Are you sure you want to delete the comment? This action will completely remove it from the database. 
                                                .modal-footer
                                                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                                    form.d-inline(action='/news/'+ news._id +'/comments/' + comment._id + '?_method=DELETE' method='POST')
                                                        button.btn.btn-danger(type='submit') Delete