extends ../layouts/_layout

block variables
	- var activePage = 'form-components'
	- var activeGroup = 'forms'

block title
	title #{title} | Blog about nothing and everything

block content
	.app-title
		div
			h1
				i.fa.fa-edit
				|  Adding news
			p Tell us about some interesting event that happened in the world or country. Don't forget the rules!

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='/admin') Main
			li.breadcrumb-item
				a(href='/admin/news')= 'News'
			li.breadcrumb-item
				| Add news
	.row
		.col-md-12
			.tile
				form(method='post', enctype='multipart/form-data', action='/admin/news/add')
					.form-group
						label(for='inputTitle') News title
						input#inputTitle.form-control(name='title', type='text', placeholder='Enter news title')
						small.form-text.text-muted Come up with the most concise title to attract the reader. Remember, clickbait is punishable!
					.form-group
						label(for='categorySelect') Select category
						select#categorySelect.form-control(name='category')
							option(value='', selected)
							each category in categories
								option(value= category._id) #{category.name}
					.form-group
						label(for='textarea') Example textarea
						textarea#my-expressjs-tinymce-app.form-control(name='text', rows='3')
					.form-check
						input.form-check-input(type='checkbox', name='isTopNews', id='isTopNews' checked=false, value='1')
						label.form-check-label
							| Public on main page
					.form-group
						label(for='inputPreviewImage') Image for preview
						input#inputPreviewImage.form-control-file(type='file', name='previewImage')
						small#fileHelp.form-text.text-muted
							| This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.
					.tile-footer
						button.btn.btn-primary(type='submit') Submit