form.form(method='POST', action='/users/me/update/password')
  .row
    .col-12.col-sm-6.mb-3
      .mb-2
        b Change Password
      .row
        .col
          .form-group
            label(for='formCurrentPassword') Current Password
            input#formCurrentPassword.form-control(name='currentPwd' type='password' placeholder='Password')
      .row
        .col
          .form-group
            label(for='formNewPassword') Password
            input#formNewPassword.form-control.form-control-lg(name='password' type='password' placeholder='Password')
      .row
        .col
          .form-group
            label(for='formNewPassword2') Password
            input#formNewPassword2.form-control.form-control-lg(name='password2' type='password' placeholder='Password')
  .row
    .col.d-flex.justify-content-end
      button.btn.btn-primary(type='submit') Save Changes